[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/motis-project/fmt.git
[submodule "deps/utl"]
	path = deps/utl
	url = https://github.com/motis-project/utl.git
[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/motis-project/boost.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/motis-project/zlib.git
[submodule "deps/cista"]
	path = deps/cista
	url = https://github.com/felixguendling/cista.git
